:root {
    --dark-blue: #233142;
    --med-blue: #455d7a;
    --orange: #f95959;
    --gray: #e3e3e3;
}

body {
    background-color: var(--med-blue);
}

h1 { 
    color: var(--orange);
    padding: 10px;
}

button {
    background-color: var(--dark-blue);
    color: var(--gray);
    border: none;
    width: 70px;
    padding: 15px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    width: 100px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-input {
    height: 15px;
    width: 100px;
}

#item-form {
    background-color: var(--gray);
    padding: 10px;
}

